@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>Contact Me</h3>


    <abbr title="Phone">P:</abbr>
    360-763-2090

<h3>Email me here, or follow FBLA on social media.</h3>
<address>
    <strong>Email:</strong> <a href="gmail.com">b.kkosa2@gmail.com</a><br />
    <strong>Facebook:</strong> <a href="https://www.facebook.com/FutureBusinessLeaders">FutureBusinessLeaders</a><br />
    <strong>Twitter:</strong> <a href="https://twitter.com/FBLA_National">FBLA National </a> <br />
    <strong>Twitter:</strong> <a href="https://twitter.com/PBL_National">PBL National  </a> <br />
    <strong>Instagram:</strong> <a href="https://www.instagram.com/fbla_pbl/">fbla_pbl  </a>



</address>
